.slider {
    height: 800px;
    position: relative;
    &__wrap {
        margin: 0 auto;
        position: relative;
        width: 750px;
        margin-top: 40px;
    }
    &__prev {
        width: 90px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -10%;
        &:hover {
            transition: 0.7s;
            background-color: rgba(0, 0, 0, 0.4);
        }
        .prev {
            position: absolute;
            width: 30px;
            height: 40px;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            background: url(/img/picture/sliderleft.png) center (center/cover) no-repeat;
        }
    }
    &__next {
        width: 90px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -10%;
        &:hover {
            transition: 0.7s;
            background-color: rgba(0, 0, 0, 0.4);
        }
        .next {
            position: absolute;
            width: 30px;
            height: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: url(/img/picture/slideright.png) center (center/cover) no-repeat;
        }
    }

    &__item {
        img {
            width: 750px;
            height: 580px;
        }
    }

    .slider-dots {
        margin-top: 15px;
        display: block;
        height: 20px;
        display: flex;
        justify-content: center;
        .dot {
            cursor: pointer;
            width: 20px;
            height: 20px;
            margin: 0 10px;
            background-color: black;
            border-radius: 50%;
            transition: all 0.7s;
        }
        .dot-active {
            background-color: red;
        }
    }
}
    