@import "base/mixin";
@import "base/variables";



* {
    font-family: "Museo Sans Cyrl", sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
@import "modules/promo";
@import "modules/header";
@import "modules/button";
@import "modules/power";
@import "modules/consultation";
@import "modules/tittle";
@import "modules/forms";
@import "modules/slider";
@import "modules/catalog";
@import "modules/block.scss";
@import "base/medias";
